body {
  padding: 10px;
  background-color: lightgray;
}

H1 {
  font-family: 'Quattrocento Sans', sans-serif;
}
/* Title colouring */
.north {
 color: rgb(211, 22, 22);
}

.mainHeader {
  font-size: 40pt
}
/* routes  */
code {
  background-color: rgba(6, 182, 252, 0.5);
  color: rgba(247, 2, 2, 0.993);
}

/* div groups */
.comments {
  padding-bottom: 30px;
}

.articles {
  padding-bottom: 30px;
}

.topics {
  padding-bottom: 30px
}

/* indentation on routes descriptions */
p {
  margin-left: 10px;
}