<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head') %>
  <title>{Hello}</title>
</head>
<body>
  <div class="indexPage">
      <h1 class="titleFront">
        Welcome To <a class="north">NorthCoder</a> News Api
      </h1>
      <form class="button">
          <input type="button" value="API ENDPOINTS" onclick="window.location.href='./api'" />
          </form>
      <p>
        created by Ramsey Mahgoub
      </p>
  </div>
  
</body>
</html>